Starting Chef Client, version 14.4.56[0m
resolving cookbooks for run list: ["nginx"][0m
Synchronizing Cookbooks:[0m
  - nginx (0.1.0)[0m
Installing Cookbook Gems:[0m
Compiling Cookbooks...[0m
Converging 1 resources[0m
Recipe: nginx::default[0m
  * nginx_install[inst_nginx] action install
    * remote_file[/tmp/nginx-1.14.0-1.el7.ngx.x86_64.rpm] action create (up to date)
    * rpm_package[/tmp/nginx-1.14.0-1.el7.ngx.x86_64.rpm] action install (up to date)
    * service[nginx] action enable (up to date)
    * service[nginx] action start (up to date)
    * template[/etc/nginx/conf.d/jboss.conf] action create (up to date)
    * template[/usr/share/nginx/html/land.html] action create (up to date)
     (up to date)
[0m
Running handlers:[0m
Running handlers complete
[0mChef Client finished, 0/7 resources updated in 03 seconds[0m
